certifi==2025.7.14
charset-normalizer==3.4.2
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
psutil==7.0.0
pycairo==1.28.0
pycodestyle==2.14.0
PyGObject==3.50.1
PyGObject-stubs==2.13.0
python-mpv==1.0.8
requests==2.32.4
sdbus==0.14.0
sdbus-networkmanager==2.0.0
urllib3==2.5.0
websocket-client==1.8.0
